* {
  margin: 0;
  padding: 0;
}

.header-form {
  margin-top: 40px;
}

.header-form h2 {
  font-size: large;
}

.header-title {
  padding-left: 20px;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: space-between;
  background-color: rgb(110, 67, 211);
  border-radius: 4px;
}

.header-items {
  height: 100%;
  width: 16%;
}

.item {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-form button {
  cursor: pointer;
  width: 100px;
  height: 30px;
  font-size: 12px;
  padding: 5px;
  margin: 20px 0;
  border: none;
  color: white;
  background-color: rgb(238, 105, 105);
  border-radius: 4px;
}
